
    table{
        margin: auto;
        width: 300px;
        border-collapse: collapse;
        border: 3px solid black ;
     
    }
    th{
        height: 30px;
        text-align: right;
        font-size: 40px;
        font-weight: 400;
        color: rgb(0, 0, 0);
}


    td{
        text-align: center;
        font-size: 30px;
        font-weight: 300;
        background-color:antiquewhite ;
        
    }
    tr:nth-child(2){
    background-color: grey;
    }
    
    .hello{
        background-color: yellowgreen;
        color: white;
    }
    .hello:hover{
    background-color:black;
    color: white;
    }
    td:hover{
        background-color:yellowgreen ;
        color: white;
    }
 
.first{
border: 3px solid black; 
background-color: rgba(143, 143, 41, 0.575) ;
}
.second{
    border: 3px solid black ; 
    background-color:grey ;
    }
    .third{ border: 3px solid black ; 
    }
    .fourth{ border: 3px solid black ; 
    }
    .fifth{ border: 3px solid black ; 
    }
    .sixth{ border: 3px solid black ; 
    }
    h1{
        text-align: center;
    }
    h1:hover{
        border: 3px solid black; 
        background-color: aquamarine;
        box-shadow: 5px 5px 4px; 
    }